extends: default
rules:
  braces:
    max-spaces-inside: 1
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  line-length: disable
  document-start: disable
  octal-values:
    forbid-explicit-octal: true
    forbid-implicit-octal: true
  truthy:
    check-keys: false
  indentation:
    spaces: 2
    indent-sequences: consistent
