[defaults]
inventory = ./inventory/hosts.ini
local_tmp = ./.ansible/tmp
host_key_checking = True
roles_path = ./roles:./roles/common:./roles/system:./roles/infrastructure:./roles/databases:./roles/applications
private_key_file = ~/.ssh/server_ed25519
retry_files_enabled = False
vault_password_file = ./.vault_pass
forks = 10
timeout = 30
gathering = smart
deprecation_warnings = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
control_path_dir = ~/.ansible/cp
control_path = %(directory)s/%%h-%%r

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
