{{ production_www_domain }} {
  redir https://{{ production_primary_domain }}{uri} permanent
}

{{ production_primary_domain }} {
  encode zstd gzip
  reverse_proxy {{ gamblock_ai_website_container }}:{{ gamblock_ai_website_port }}
}

{{ production_api_domain }} {
  encode zstd gzip
  reverse_proxy {{ gamblock_ai_backend_container }}:{{ gamblock_ai_backend_port }}
}

{{ staging_primary_domain }} {
  encode zstd gzip
  reverse_proxy {{ gamblock_ai_website_staging_container }}:{{ gamblock_ai_website_port }}
}

{{ staging_api_domain }} {
  encode zstd gzip
  reverse_proxy {{ gamblock_ai_backend_staging_container }}:{{ gamblock_ai_backend_port }}
}
